// ? @@@@@@@@@@@@@@@@@@@@@@[  landing start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=landing] {
    @include media-breakpoint(basic) {
        & .heroSection {
            & .carousel {
                & .carousel-inner {
                    & .carousel-item {
                        aspect-ratio: 1440/ calc(720 - 89);
                        background-image: var(--bg);
                        background-repeat: no-repeat;
                        background-position: center;
                        background-size: cover;
                        & .carousel-item-content {
                            height: 100%;
                            & .carousel-item-content-inner {
                                height: 100%;
                                align-items: center;
                                & .carousel-item-content-heading {
                                    font-family: 'Gilroy-Bold';
                                    font-style: normal;
                                    font-weight: 400;
                                    font-size: 68px;
                                    line-height: 73px;

                                    color: $white;
                                }
                                & .chooseProgramBtn {
                                    margin-top: 65px;
                                    & a {
                                        font-family: 'Gilroy-Bold';
                                        font-style: normal;
                                        font-weight: 400;
                                        font-size: 18px;
                                        line-height: 22px;

                                        color: $white;
                                        background: $theme1;
                                        border-radius: 5px;
                                        width: 216px;
                                        height: 56px;
                                        display: inline-flex;
                                        align-items: center;
                                        justify-content: center;
                                        transition: .3s all;
                                        border: 2px solid $theme1;
                                        &:hover {
                                            color: $theme1;
                                            background: $white;
                                            border: 2px solid $theme1;
                                        }
                                    }
                                }
                            }
                        }
                        &.active {

                        }
                    }
                }
                & [class*=carousel-control-] {
                    & .carouselBtn {
                        & img {
                            width: 48px;
                            height: 48px;
                        }
                    }
                    &.carousel-control-prev {
    
                    }
                    &.carousel-control-next {
                        
                    }
                }
            }
        }
        & .counterSection {
            margin-top: -92px;
            margin-bottom: 90px;
            z-index: 10;
            position: relative;
            & .counterSectionInner {
                background: $white;
                border-left: 3px solid $theme1;
                box-shadow: 0px 10px 40px rgba($black, 0.15);
                & .counterSectionItems {
                    & .counterSectionItem {
                        transition: .3s all;
                        & .counterSectionItemInner {
                            padding: 32px 0px;
                            & .counterSectionImg {
                                text-align: center;
                                & img {
                                    width: 60px;
                                    height: 60px;
                                    object-fit: contain;
                                    object-position: center;
                                }
                                margin-bottom: 7px;
                            }
                            & .counterSectionTitle {
                                font-family: 'Gilroy-Bold';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                                text-align: center;
                                
                                color: $theme3;
                                margin-bottom: 3px;
                            }
                            & .counterSectionValue {
                                font-family: 'Gilroy-Regular';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 17px;
                                line-height: 25px;
                                /* identical to box height, or 147% */
                                
                                text-align: center;
                                
                                color: $theme2;
                            }
                        }
                        &:hover {
                            background-color: $gray-100;
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        & .whyChooseUs {
            padding-bottom: 40px;
            & .whyChooseUsInner {
                & .whyChooseUsTitle {
                    font-family: 'Gilroy-SemiBold';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 42px;
                    line-height: 51px;
                    
                    color: #1C1C1C;
                    margin-bottom: 32px;
                }
                & .whyChooseUsImg {
                    & img {
                        max-height: 201px;
                    }
                    margin-bottom: 51px;
                }
                & .whyChooseUsLearnMore {
                    & a {
                        & span {
                            font-family: 'Gilroy-Bold';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 22px;
                            text-align: right;
                            margin-right: 11px;

                            color: #E91515;
                            transition: .3s all;
                            & img {
                                width: 16px;
                            }
                        }
                        &:hover {
                            & span {
                                margin-right: 0px;
                            }
                        }
                    }
                }
                & .whyChooseUsContent {
                    gap: 26px;
                    & .whyChooseUsContentParagraph {
                        font-family: 'Gilroy-Regular';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 17px;
                        line-height: 25px;
                        /* or 147% */
                        
                        
                        color: #3C3C3C;
                    }
                }
            }
        }
        & .secondSection {
            margin-top: -92px;
            margin-bottom: 90px;
            z-index: 10;
            position: relative;
            & .secondSectionInner {
                background: $white;
                border-left: 3px solid $theme1;
                box-shadow: 0px 10px 40px rgba($black, 0.15);
                & .secondSectionItems {
                    & .secondSectionItem {
                        transition: .3s all;
                        & .secondSectionItemInner {
                            padding: 32px 0px;
                            & .secondSectionImg {
                                text-align: center;
                                & img {
                                    width: 60px;
                                    height: 60px;
                                    object-fit: contain;
                                    object-position: center;
                                }
                                margin-bottom: 7px;
                            }
                            & .secondSectionTitle {
                                font-family: 'Gilroy-Bold';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 22px;
                                text-align: center;
                                
                                color: $theme3;
                                margin-bottom: 3px;
                            }
                            & .secondSectionValue {
                                font-family: 'Gilroy-Regular';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 17px;
                                line-height: 25px;
                                /* identical to box height, or 147% */
                                
                                text-align: center;
                                
                                color: $theme2;
                            }
                        }
                        &:hover {
                            background-color: $gray-100;
                        }
                    }
                }
            }
        }
        & .counter2Section {
            padding: 40px 0px;
            & .counter2SectionInner {
                & .counter2SectionItems {
                    & .counter2SectionItem {
                        transition: .3s all;
                        & .counter2SectionItemInner {
                            & .counter2SectionImg {
                                text-align: center;
                                & img {
                                    width: 80px;
                                    height: 80px;
                                    object-fit: contain;
                                    object-position: center;
                                }
                                margin-bottom: 15px;
                            }
                            & .counter2SectionTitle {
                                font-family: 'Gilroy-SemiBold';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 35px;
                                line-height: 43px;
                                /* identical to box height */
                                
                                text-align: center;
                                letter-spacing: 0.02em;
                                
                                color: #D40F2B;
                                margin-bottom: 7px;
                            }
                            & .counter2SectionValue {
                                font-family: 'Gilroy-SemiBold';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 22px;
                                line-height: 27px;
                                /* identical to box height */
                                
                                text-align: center;
                                letter-spacing: 0.02em;
                                
                                color: #1C1C1C;
                            }
                        }
                        &:hover {
                            transform: scale(.9);
                            cursor: pointer;
                        }
                    }
                }
            }
        }
        & .videoSection {
            padding-top: 30px;
            padding-bottom: 40px;
            & .videoSectionInner {
                & .plyr {
                    & .plyr__controls {
                        & .plyr__progress__container {
                            & .plyr__progress {
                                & input[type="range" i]::-webkit-slider-runnable-track {
                                    color: $theme1;
                                }
                            }
                        }
                        & .plyr__volume {
                            & button {
                                &:hover {
                                    background-color: $theme1;
                                }
                            }
                            & input[type="range" i]::-webkit-slider-runnable-track {
                                color: $theme1;
                            }
                        }
                        & button.plyr__controls__item {
                            &:hover {
                                background-color: $theme1;
                            }
                        }
                        & .plyr__menu {
                            & button {
                                &.plyr__control[aria-expanded=true] {
                                    background-color: $theme1;
                                }
                                &:hover {
                                    background-color: $theme1;
                                }
                            }
                        }
                    }
                    & .plyr__control--overlaid {
                        background-color: $theme1;
                    }
                }
            }
        }
        & .countriesSection {
            & .countriesSectionInner {
                align-items: center;
                & .countriesSectionHeading {
                    font-family: 'Gilroy-Bold';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 28px;
                    line-height: 35px;
                    /* identical to box height */
                    
                    
                    color: #1C1C1C;
                    padding-bottom: 20px;
                }
                & .countriesSectionAllBtn {
                    & a {
                        font-family: 'Gilroy-Bold';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: right;
                        
                        color: #E91515;
                    }
                    padding-bottom: 20px;
                }
                & .countriesSectionItems {
                    & .countriesSectionItem {
                        & .countriesSectionItemInner {
                            align-items: center;
                            & .countriesSectionItemImg {
                                padding-right: 0px;
                                & img {
                                    width: 97px;
                                    height: 48px;
                                    border: 1px solid #C1C1C1;
                                }
                            }
                            & .countriesSectionItemTitle {
                                padding-left: 15px;
                                font-family: 'Gilroy-Bold';
                                font-style: normal;
                                font-weight: 400;
                                font-size: 22px;
                                line-height: 27px;
                                
                                color: #000000;
                            }
                        }
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=landing] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  landing start  ]@@@@@@@@@@@@@@@@@@@@@@

// ? @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@
[data-page-name=example] {
    @include media-breakpoint(basic) {
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {}

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}
}

[data-bs-theme=dark] {
    & [data-page-name=example] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  example start  ]@@@@@@@@@@@@@@@@@@@@@@

