// ? @@@@@@@@@@@@@@@@@@@@@@[  navbar  ]@@@@@@@@@@@@@@@@@@@@@@
    @include media-breakpoint(basic) {
        .topNavbar {
            height: 89px;
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                        width: 207px;
                    }
                }
            }
            & .linkBox {
                & .linkItems {
                    & .linkItem {
                        padding: 0 13px;
                        & .linkAnchor {
                            font-family: 'Roboto';
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 18px;
                            color: #3C3C3C;
                            transition: 0.3s ease;
                            &:hover,
                            &.active {
                                color: #E32333;
                            }
                        }
                        &.dropdown {
                            & .dropdown-toggle {
                                &::after {
                                    border: 0 !important;
                                    background-image: url(../img/svg/headerDropdown.svg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    height: 6px;
                                    width: 12px;
                                    top: 2px;
                                    left: 3px;
                                    position: relative;
                                }
                            }
                            & .dropdown-menu {
                                background-color: #ffffff;
                                border: 0;
                                & .dropdown-item {
                                    font-family: "Roboto";
                                    font-weight: 700;
                                    font-size: 15px;
                                    line-height: 18px;
                                    color: #3c3c3c;
                                    padding: 8px 16px;
                                    &:hover {
                                        background-color: white;
                                        color: #E32333;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    width: 105px;
                    height: 33px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #E32333;
                    border: 1px solid #E32333;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    &:hover {
                        background-color: #E32333;
                        color: #ffffff;
                    }
                }
                & .loginBtn {
                    width: 105px;
                    height: 33px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                    background-color: #E32333;
                    border: 1px solid #E32333;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    margin: 0 23px 0 17px;
                    &:hover {
                        background-color: white;
                        color: #E32333;
                    }
                }
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            height: 16px;
                            width: 16px;
                            display: flex;
                            & img {
                                height: 16px;
                                width: 16px;
                            }
                            &:nth-child(2) {
                                margin: 0 21px;
                            }
                        }
                    }
                    & .callBtn {
                        width: 132.46px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Roboto';
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 18px;
                        color: #2C2C2C;
                        margin-top: 13px;
                        & img {
                            height: 16px;
                            width: 15px;
                            margin-right: 9px;
                        }
                    }
                }
                & .consultationBtn {
                    margin-left: 28px;
                    width: 170px;
                    height: 89px;
                    background: #E32333;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    color: #FFFFFF;
                    padding: 0 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & img {
                        height: 34px;
                        width: 34px;
                        margin-right: 16px;
                    }
                }
            }
            & .mobMenuIcon {
                margin-right: 28px;
                & img {
                    width: 16px;
                    height: 10px;
                }
            }
        }
        .menuOffcanvas {
            width: 280px !important;
            & .offcanvas-header {
                & .offcanvas-title {
                    & img {
                        width: 180px;
                    }
                }
                & .btn-close {
                    background-size: 0.8em;
                }
            }
            & .offcanvas-body {
                padding-top: 0;
                & .linkItems {
                    & .linkItem {
                        padding: 7px 0px;
                        & .linkAnchor {
                            font-family: 'Roboto';
                            font-weight: 700;
                            font-size: 14px;
                            line-height: 18px;
                            color: #3C3C3C;
                            transition: 0.3s ease;
                            &:hover,
                            &.active {
                                color: #E32333;
                            }
                        }
                    }
                }
            }
            & .offcanvas-footer {
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            height: 16px;
                            width: 16px;
                            display: flex;
                            & img {
                                height: 16px;
                                width: 16px;
                            }
                            &:nth-child(2) {
                                margin: 0 12px;
                            }
                        }
                    }
                    & .callBtn {
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Roboto';
                        font-weight: 700;
                        font-size: 14px;
                        line-height: 18px;
                        color: #2C2C2C;
                        & img {
                            height: 16px;
                            width: 15px;
                            margin-right: 9px;
                        }
                    }
                }
                & .partnerBtn {
                    height: 33px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #E32333;
                    border: 1px solid #E32333;
                }
                & .loginBtn {
                    height: 33px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                    background-color: #E32333;
                    border: 1px solid #E32333;
                }
                & .consultationBtn {
                    height: 58px;
                    background: #E32333;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 14px;
                    line-height: 18px;
                    color: #FFFFFF;
                    padding: 0 17px;
                    & img {
                        height: 27px;
                        width: 27px;
                        margin-right: 16px;
                    }
                }
            }
        }
        .navbarStickyIcons {
            position: fixed;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            z-index: 9;
            & .stickyIcon {
                height: 35px;
                width: auto;
                display: flex;
                align-items: center;
                justify-content: left;
                // width: 20px;
                background-color: white;
                transition: 0.3s ease;
                padding: 3px 5px 3px 0;
                transform: translateX(calc(100% - 35px));
                & .stickyImg {
                    height: 35px;
                    width: 35px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                & img {
                    height: 16px;
                    width: 16px;
                }
                & .hiddenText {
                    margin-left: 5px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    color: #3C3C3C;
                    opacity: 0;
                    transition: 0.3s ease;
                }
                &:hover {
                    transform: translateX(0);
                    & .hiddenText {
                        opacity: 1;
                    }
                }
            }
        }
        .findProgramBox {
            height: 164px;
            background-color: #FFFFFF;
            box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
            border-left: 3px solid #E32333;
            & .form-label {
                font-family: 'Gilroy-SemiBold';
                font-size: 17px;
                line-height: 25px;
                color: #3C3C3C;
            }
            & .form-control {
                font-family: 'Gilroy-Medium';
                font-size: 16px;
                line-height: 19px;
                color: #7C7C7C;
                border: 1px solid #3C3C3C;
                border-radius: 5px;
                height: 40px;
                &::placeholder {
                    color: #7C7C7C;
                }
            }
            & .submitBtn {}
        }
        .footer {
            background: #3A3A3A;
            padding: 83px 0 33px 0;
            & .topRow {
                & .footerText {
                    font-family: 'Gilroy-Medium';
                    font-size: 22px;
                    line-height: 26px;
                    color: #FFFFFF;
                    max-width: 221px;
                }
                & .linkItems {
                    padding-left: 102px !important;
                    & .linkItem {
                        padding: 0 13px;
                        & .linkAnchor {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 18px;
                            color: #FFFFFF;
                        }
                    }
                }
                & .socialIcons {
                    & .socialIcon {
                        height: 16px;
                        width: 16px;
                        display: flex;
                        & img {
                            height: 16px;
                            width: 16px;
                        }
                        &:nth-child(2) {
                            margin: 0 21px;
                        }
                    }
                }
                & .footerDivider {
                    margin-top: 20px;
                    border-bottom: 1px solid #787878;
                }
            }
            & .middleRow {
                padding: 26px 0 98px 0;
                & .footerLinkHeader {
                    font-family: 'Roboto';
                    font-style: normal;
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    color: #FFFFFF;
                    margin-bottom: 22px;
                }
                & .footerLinks {
                    & .footerLink {
                        & .footerAnchor {
                            font-family: 'Gilroy-Regular';
                            font-size: 17px;
                            line-height: 25px;
                            color: #C1C1C1;
                        }
                        &:first-child {
                            margin-bottom: 14px;
                        }
                    }
                }
            }
            & .bottomRow {
                & .bottomText {
                    font-family: 'Gilroy-Regular';
                    font-size: 17px;
                    line-height: 25px;
                    color: #C5C5C5;
                }
            }
        }
        .stepSection {
            padding-top: 45px;
            padding-bottom: 45px;
            & .sectionHeading {
                font-family: 'Gilroy-Bold';
                font-size: 42px;
                line-height: 49px;
                color: #1C1C1C;
                margin-bottom: 24px;
                text-align: center;
            }
            & .sectionText {
                font-family: 'Gilroy-Medium';
                font-size: 16px;
                line-height: 19px;
                text-align: center;
                color: #5C5C5C;
                margin-bottom: 20px;
            }
            & .contactBtn {
                font-family: 'Gilroy-Bold';
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                width: 153px;
                height: 56px;
                background: #E91515;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                position: absolute;
                bottom: 109px;
                z-index: 2;
                border: 1px solid #E91515;
                transition: 0.3s ease;
                &:hover {
                    background-color: white;
                    color: #E91515;
                }
            }
        }
        .faqSection {
            padding-top: 45px;
            padding-bottom: 45px;
            & .sectionHeading {
                font-family: 'Gilroy-Bold';
                font-size: 42px;
                line-height: 49px;
                color: #1C1C1C;
                max-width: 324px;
            }
            & .allReviews {
                & a {
                    & span {
                        font-family: "Gilroy-Bold";
                        font-style: normal;
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 22px;
                        text-align: right;
                        margin-right: 11px;
                        color: #e91515;
                        transition: .3s all;
                        & img {
                            width: 16px;
                        }
                    }
                    &:hover {
                        & span {
                            margin-right: 0px;
                        }
                    }
                }
            }
            & .userFeedback {
                margin-top: 20px;
                &:first-child {
                    margin-top: 0;
                }
                & .feedbackText {
                    font-family: 'Gilroy-Regular';
                    font-size: 17px;
                    line-height: 25px;
                    color: #3C3C3C;
                    margin-bottom: 40px;
                }
                & .userImg {
                    width: 90px;
                    height: 90px;
                    border-radius: 50%;
                    overflow: hidden;
                    & img {
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                    }
                }
                & .name {
                    font-family: 'Gilroy-SemiBold';
                    font-size: 18px;
                    line-height: 25px;
                    color: #2C2C2C;
                    margin-bottom: 5px;
                }
                & .description {
                    font-family: 'Gilroy-Regular';
                    font-size: 14px;
                    line-height: 25px;
                    color: #7C7C7C;
                }
                & .outOfNumber {
                    font-family: 'Gilroy-SemiBold';
                    font-size: 18px;
                    line-height: 25px;
                    color: #2C2C2C;
                }
            }
        }
        .partnerSection {
            padding-top: 45px;
            padding-bottom: 45px;
            & .countriesSectionInner {
                & .SectionHeading {
                    font-family: 'Gilroy-Bold';
                    font-size: 42px;
                    line-height: 49px;
                    color: #1C1C1C;
                    margin-bottom: 30px;
                    text-align: center;
                }
                & .partnerSectionItems {
                    & .partnerSectionItem {
                        & .partnerSectionItemInner {
                            & .partnerSectionItemImg {
                                & img {
                                    height: 83px;
                                    transition: 0.3s ease;
                                }
                                &:hover {
                                    & img {
                                        transform: scale(0.8);
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .contactUsSection {
            & .sectionHeading {
                font-family: 'Gilroy-Bold';
                font-size: 42px;
                line-height: 49px;
                color: #1C1C1C;
                margin-bottom: 25px;
            }
            & .form-control {
                border: 1px solid #5A5A72;
                border-radius: 5px;
                height: 72px;
                font-family: 'Gilroy-Regular';
                font-size: 16px;
                line-height: 84px;
                letter-spacing: 0.04em;
                &::placeholder {
                    color: #7A7A7A;
                }
                &.textarea {
                    height: 155px;
                    line-height: 54px;
                }
            }
            & .sendBtn {
                font-family: 'Gilroy-Bold';
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
                width: 129px;
                height: 56px;
                background: #E91515;
                border: 1px solid #E91515;
                border-radius: 5px;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: 0.3s ease;
                &:hover,
                &:active {
                    background-color: #ffffff;
                    color: #E91515;
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {
        .topNavbar {
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                        width: 181px;
                    }
                }
            }
            & .linkBox {
                & .linkItems {
                    & .linkItem {
                        padding: 0 10px;
                        & .linkAnchor {
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    &:hover {
                    }
                }
                & .loginBtn {
                    margin: 0 15px 0 15px;
                    &:hover {
                    }
                }
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            & img {
                            }
                            &:nth-child(2) {
                            }
                        }
                    }
                    & .callBtn {
                        & img {
                        }
                    }
                }
                & .consultationBtn {
                    margin-left: 18px;
                    width: 165px;
                    & img {
                    }
                }
            }
        }
    }

    @media (max-width: 1299.98px) {
        .topNavbar {
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                    }
                }
            }
            & .linkBox {
                flex: 1 1 auto;
                justify-content: end;
                display: flex;
                & .linkItems {
                    & .linkItem {
                        & .linkAnchor {
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    margin-left: 5px;
                    &:hover {
                    }
                }
                & .loginBtn {
                    &:hover {
                    }
                }
                & .contactBox {
                    display: none;
                    & .socialIcons {
                        & .socialIcon {
                            & img {
                            }
                            &:nth-child(2) {
                            }
                        }
                    }
                    & .callBtn {
                        & img {
                        }
                    }
                }
                & .consultationBtn {
                    display: none;
                    & img {
                    }
                }
            }
        }
        .navbarStickyIcons {
            display: block !important;
        }
    }

    @include media-breakpoint-down(xl) {
        .topNavbar {
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                    }
                }
            }
            & .linkBox {
                & .linkItems {
                    & .linkItem {
                        & .linkAnchor {
                            &:hover,
                            &.active {
                            }
                        }
                        &.dropdown {
                            & .dropdown-toggle {
                                &::after {
                                }
                            }
                            & .dropdown-menu {
                                & .dropdown-item {
                                    &:hover {
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    &:hover {
                    }
                }
                & .loginBtn {
                    &:hover {
                    }
                }
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            & img {
                            }
                            &:nth-child(2) {
                            }
                        }
                    }
                    & .callBtn {
                        & img {
                        }
                    }
                }
                & .consultationBtn {
                    & img {
                    }
                }
            }
            & .mobMenuIcon {
                & img {
                }
            }
        }
        .footer {
            & .topRow {
                & .footerText {
                    font-size: 20px;
                }
                & .linkItems {
                    padding: 0 !important;
                    & .linkItem {
                        & .linkAnchor {
                            font-size: 14px;
                        }
                    }
                }
                & .socialIcons {
                    & .socialIcon {
                        & img {
                        }
                        &:nth-child(2) {
                        }
                    }
                }
                & .footerDivider {
                }
            }
            & .middleRow {
                & .footerLinkHeader {
                    font-size: 14px;
                }
                & .footerLinks {
                    & .footerLink {
                        & .footerAnchor {
                            font-size: 14px;
                        }
                        &:first-child {
                        }
                    }
                }
            }
            & .bottomRow {
                & .bottomText {
                    font-size: 14px;
                }
            }
        }
    }

    @include media-breakpoint-down(lg) {
        .topNavbar {
            height: 86px;
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                        width: 207px;
                    }
                }
            }
            & .linkBox {
                & .linkItems {
                    & .linkItem {
                        & .linkAnchor {
                            &:hover,
                            &.active {
                            }
                        }
                        &.dropdown {
                            & .dropdown-toggle {
                                &::after {
                                }
                            }
                            & .dropdown-menu {
                                & .dropdown-item {
                                    &:hover {
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    &:hover {
                    }
                }
                & .loginBtn {
                    &:hover {
                    }
                }
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            & img {
                            }
                            &:nth-child(2) {
                            }
                        }
                    }
                    & .callBtn {
                        & img {
                        }
                    }
                }
                & .consultationBtn {
                    & img {
                    }
                }
            }
            & .mobMenuIcon {
                & img {
                }
            }
        }
        .navbarStickyIcons {
            display: none !important;
        }
        .footer {
            padding: 29px 0 29px 0;
            & .topRow {
                & .footerText {
                    margin-bottom: 25px;
                }
                & .linkItems {
                    padding-left: 0 !important;
                    margin-bottom: 25px !important;
                    & .linkItem {
                        padding: 8px 0;
                        & .linkAnchor {
                            font-size: 14px;
                        }
                    }
                }
                & .socialIcons {
                    & .socialIcon {
                        & img {
                        }
                        &:nth-child(2) {
                        }
                    }
                }
                & .footerDivider {
                    margin-top: 43px;
                }
            }
            & .middleRow {
                padding: 3px 0 23px 0;
                & .footerLinkHeader {
                    margin: 18px 0 12px 0;
                    &.mobSpace {
                        margin: 31px 0 12px 0;
                    }
                }
                & .footerLinks {
                    & .footerLink {
                        & .footerAnchor {
                            font-size: 14px;
                        }
                        &:first-child {
                            margin-bottom: 18px;
                        }
                    }
                }
            }
            & .bottomRow {
                & .bottomText {
                    font-size: 14px;
                    &.copyrighText {
                        margin-top: 12px;
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(md) {
        .topNavbar {
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                    }
                }
            }
            & .linkBox {
                & .linkItems {
                    & .linkItem {
                        & .linkAnchor {
                            &:hover,
                            &.active {
                            }
                        }
                        &.dropdown {
                            & .dropdown-toggle {
                                &::after {
                                }
                            }
                            & .dropdown-menu {
                                & .dropdown-item {
                                    &:hover {
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    &:hover {
                    }
                }
                & .loginBtn {
                    &:hover {
                    }
                }
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            & img {
                            }
                            &:nth-child(2) {
                            }
                        }
                    }
                    & .callBtn {
                        & img {
                        }
                    }
                }
                & .consultationBtn {
                    & img {
                    }
                }
            }
            & .mobMenuIcon {
                & img {
                }
            }
        }
        .footer {
            & .topRow {
                & .footerText {
                }
                & .linkItems {
                    & .linkItem {
                        & .linkAnchor {
                        }
                    }
                }
                & .socialIcons {
                    & .socialIcon {
                        & img {
                        }
                        &:nth-child(2) {
                        }
                    }
                }
                & .footerDivider {
                }
            }
            & .middleRow {
                & .footerLinkHeader {
                }
                & .footerLinks {
                    & .footerLink {
                        & .footerAnchor {
                        }
                        &:first-child {
                        }
                    }
                }
            }
            & .bottomRow {
                & .bottomText {
                }
            }
        }
    }

    @include media-breakpoint-down(sm) {
        .topNavbar {
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                    }
                }
            }
            & .linkBox {
                & .linkItems {
                    & .linkItem {
                        & .linkAnchor {
                            &:hover,
                            &.active {
                            }
                        }
                        &.dropdown {
                            & .dropdown-toggle {
                                &::after {
                                }
                            }
                            & .dropdown-menu {
                                & .dropdown-item {
                                    &:hover {
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    &:hover {
                    }
                }
                & .loginBtn {
                    &:hover {
                    }
                }
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            & img {
                            }
                            &:nth-child(2) {
                            }
                        }
                    }
                    & .callBtn {
                        & img {
                        }
                    }
                }
                & .consultationBtn {
                    & img {
                    }
                }
            }
            & .mobMenuIcon {
                & img {
                }
            }
        }
        .footer {
            & .topRow {
                & .footerText {
                    font-size: 16px;
                    line-height: 19px;
                }
                & .linkItems {
                    & .linkItem {
                        padding: 5px 0;
                        & .linkAnchor {
                            font-size: 12px;
                            line-height: 25px;
                        }
                    }
                }
                & .socialIcons {
                    & .socialIcon {
                        & img {
                        }
                        &:nth-child(2) {
                        }
                    }
                }
                & .footerDivider {
                }
            }
            & .middleRow {
                & .footerLinkHeader {
                    font-size: 15px;
                    line-height: 18px;
                }
                & .footerLinks {
                    & .footerLink {
                        & .footerAnchor {
                            font-size: 12px;
                            line-height: 19px;
                        }
                        &:first-child {
                        }
                    }
                }
            }
            & .bottomRow {
                & .bottomText {
                    font-size: 12px;
                }
            }
        }
    }


[data-bs-theme=dark] {
    & [data-page-name=signin] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  navbar end  ]@@@@@@@@@@@@@@@@@@@@@@

