// ? @@@@@@@@@@@@@@@@@@@@@@[  navbar  ]@@@@@@@@@@@@@@@@@@@@@@
    @include media-breakpoint(basic) {
        .topNavbar {
            height: 89px;
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                        width: 207px;
                    }
                }
            }
            & .linkBox {
                & .linkItems {
                    & .linkItem {
                        padding: 0 13px;
                        & .linkAnchor {
                            font-family: 'Roboto';
                            font-weight: 700;
                            font-size: 15px;
                            line-height: 18px;
                            color: #3C3C3C;
                            transition: 0.3s ease;
                            &:hover,
                            &.active {
                                color: #E32333;
                            }
                        }
                        &.dropdown {
                            & .dropdown-toggle {
                                &::after {
                                    border: 0 !important;
                                    background-image: url(../img/svg/headerDropdown.svg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    height: 6px;
                                    width: 12px;
                                    top: 2px;
                                    left: 3px;
                                    position: relative;
                                }
                            }
                            & .dropdown-menu {
                                background-color: #ffffff;
                                border: 0;
                                & .dropdown-item {
                                    font-family: "Roboto";
                                    font-weight: 700;
                                    font-size: 15px;
                                    line-height: 18px;
                                    color: #3c3c3c;
                                    padding: 8px 16px;
                                    &:hover {
                                        background-color: white;
                                        color: #E32333;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    width: 105px;
                    height: 33px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #E32333;
                    border: 1px solid #E32333;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    &:hover {
                        background-color: #E32333;
                        color: #ffffff;
                    }
                }
                & .loginBtn {
                    width: 105px;
                    height: 33px;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 12px;
                    line-height: 14px;
                    color: #FFFFFF;
                    background-color: #E32333;
                    border: 1px solid #E32333;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    transition: 0.3s ease;
                    margin: 0 23px 0 17px;
                    &:hover {
                        background-color: white;
                        color: #E32333;
                    }
                }
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            height: 16px;
                            width: 16px;
                            display: flex;
                            & img {
                                height: 16px;
                                width: 16px;
                            }
                            &:nth-child(2) {
                                margin: 0 21px;
                            }
                        }
                    }
                    & .callBtn {
                        width: 132.46px;
                        height: 18px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-family: 'Roboto';
                        font-weight: 700;
                        font-size: 15px;
                        line-height: 18px;
                        color: #2C2C2C;
                        margin-top: 13px;
                        & img {
                            height: 16px;
                            width: 15px;
                            margin-right: 9px;
                        }
                    }
                }
                & .consultationBtn {
                    margin-left: 28px;
                    width: 170px;
                    height: 89px;
                    background: #E32333;
                    font-family: 'Roboto';
                    font-weight: 700;
                    font-size: 15px;
                    line-height: 18px;
                    color: #FFFFFF;
                    padding: 0 17px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    & img {
                        height: 34px;
                        width: 34px;
                        margin-right: 16px;
                    }
                }
            }
        }
    }

    // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
    @include media-breakpoint-up(sm) {}

    @include media-breakpoint-up(md) {}

    @include media-breakpoint-up(lg) {}

    @include media-breakpoint-up(xl) {}

    @include media-breakpoint-up(xxl) {}


    @include media-breakpoint-down(xxl) {
        .topNavbar {
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                        width: 181px;
                    }
                }
            }
            & .linkBox {
                & .linkItems {
                    & .linkItem {
                        padding: 0 10px;
                        & .linkAnchor {
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    &:hover {
                    }
                }
                & .loginBtn {
                    margin: 0 15px 0 15px;
                    &:hover {
                    }
                }
                & .contactBox {
                    & .socialIcons {
                        & .socialIcon {
                            & img {
                            }
                            &:nth-child(2) {
                            }
                        }
                    }
                    & .callBtn {
                        & img {
                        }
                    }
                }
                & .consultationBtn {
                    margin-left: 18px;
                    width: 165px;
                    & img {
                    }
                }
            }
        }
    }

    @media (max-width: 1299.98px) {
        .topNavbar {
            & .logoBox {
                & .logoAnchor {
                    & .logoImg {
                    }
                }
            }
            & .linkBox {
                flex: 1 1 auto;
                justify-content: end;
                display: flex;
                & .linkItems {
                    & .linkItem {
                        & .linkAnchor {
                        }
                    }
                }
            }
            & .btnBox {
                & .partnerBtn {
                    margin-left: 5px;
                    &:hover {
                    }
                }
                & .loginBtn {
                    &:hover {
                    }
                }
                & .contactBox {
                    display: none;
                    & .socialIcons {
                        & .socialIcon {
                            & img {
                            }
                            &:nth-child(2) {
                            }
                        }
                    }
                    & .callBtn {
                        & img {
                        }
                    }
                }
                & .consultationBtn {
                    display: none;
                    & img {
                    }
                }
            }
        }
    }

    @include media-breakpoint-down(xl) {}

    @include media-breakpoint-down(lg) {}

    @include media-breakpoint-down(md) {}

    @include media-breakpoint-down(sm) {}


[data-bs-theme=dark] {
    & [data-page-name=signin] {
        @include dark-media-breakpoint(basic) {
            
        }

        // No media query necessary for xs breakpoint as it's effectively `@media (min-width: 0) { ... }`
        @include dark-media-breakpoint-up(sm) {
        }
        @include dark-media-breakpoint-up(md) {
        }
        @include dark-media-breakpoint-up(lg) {
        }
        @include dark-media-breakpoint-up(xl) {
        }
        @include dark-media-breakpoint-up(xxl) {
        }
    
    
        @include dark-media-breakpoint-down(xxl) {
        }
        @include dark-media-breakpoint-down(xl) {
        }
        @include dark-media-breakpoint-down(lg) {
        }
        @include dark-media-breakpoint-down(md) {
        }
        @include dark-media-breakpoint-down(sm) {
        }
    }
}

// ! @@@@@@@@@@@@@@@@@@@@@@[  navbar end  ]@@@@@@@@@@@@@@@@@@@@@@

